body {
  margin: 0;
  margin-top: 5.2rem;
  padding: 0;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-weight: bold;
}

/**
 * Helpers
 */
.small {
  font-size: 86%;
}

/**
 * Main website sections
 */
section.main-section {
  padding: 7em 4em;
  border-bottom: 1px solid #ddd;
}
section.main-section h2 {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5em;
  font-family: 'Poiret One', "Century Gothic", AppleGothic, sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
}
section.main-section p {
  font-size: 1.4em;
}
section.main-section a.button {
  font-family: 'Poiret One', Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-weight: bold;
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 1.4em;
}

/**
 * Navigation menu
 */
.navigation {
  background: #333;
  border-bottom: .1rem solid #937042;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
.navigation .navigation-link {
  display: inline;
  padding-left: 30px;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
  color: #bf9865;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 5.2rem;
  text-decoration: none;
}

.navigation .navigation-title, .navigation .title {
  color: #bf9865;
  font-family: Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-size: 2.60rem;
  letter-spacing: 2px;
  line-height: 5.6rem;
  position: relative;
}

/**
 * Hero
 */
.hero {
  margin: 0;
  padding: 0;
  background: url(../img/Will-Rogers-Street-Elevation-8X5-150dpi.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3c0f68, #9b4dca);
  opacity: 0.7;
  margin: 0 auto;
  text-align: center;
}

.hero .intro {
  position: absolute;
  top: 180px;
  margin: 0 auto;

  flex: none;
  text-align: center;
}
.hero .intro h1,
.hero .intro h2
{
  display: inline-block;
  width: auto;
  padding: 0px 20px;
  margin: 0 0 20px 0;
  color: #efefef;
  background-color: rgba(60, 15, 104, 0.5);
  line-height: 1.5em;
  text-align: center;
}

/**
 * Site footer
 */
.footer {
  border-top: 1px solid #ddd;
  background-color: #fefefe;
  font-size: 86%;
  text-align: center;
}
.footer .organizers {
  margin-top: 4em;
}
.footer .past-years {
  margin-bottom: 4em;
}
.footer .past-years p {
  margin-bottom: 0;
}
