body {
  margin: 0;
  margin-top: 5.2rem;
  padding: 0;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-weight: bold;
}

h4, h5, h6 {
  font-weight: bold;
}

h1.title {
  padding: 40px 0;
  background-color: #3E295F;
  border-bottom: 4px solid #524866;
  color: #efefef;
}

/**
 * Helpers
 */
.small {
  font-size: 86%;
}

/**
 * Hero
 */
.hero {
  margin: 0;
  padding: 0;
  background:
    /* top, transparent with gradient */
    linear-gradient(
      45deg,
      rgba(60, 15, 104, 0.7),
      rgba(155, 77, 202, 0.7)
    ),
    /* bottom, image */
    url(../img/Will-Rogers-Street-Elevation-8X5-150dpi.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .intro {
  margin: 0 auto;

  flex: none;
  text-align: center;
}
.hero .intro h1,
.hero .intro h2
{
  display: inline-block;
  width: auto;
  padding: 0px 20px;
  margin: 0 0 20px 0;
  color: #efefef;
  background-color: rgba(60, 15, 104, 0.5);
  line-height: 1.5em;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .hero .intro h1,
  .hero .intro h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 370px;
  }
  .hero .intro h1,
  .hero .intro h2 {
    font-size: 1.7rem;
    padding: 0 6px;
  }
}

/**
 * Main website sections
 */
section.main-section {
  padding: 7em 4em;
  border-bottom: 1px solid #ddd;
}
section.main-section h2 {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5em;
  font-family: 'Poiret One', "Century Gothic", AppleGothic, sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
}
section.main-section p {
  font-size: 1.4em;
}
section.main-section a.button {
  font-family: 'Poiret One', Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-weight: bold;
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 1.4em;
}
section.main-section:last-child {
  border: 0;
}

/**
 * Sponsorship Packages
 */
article.sponsorship-package {
  margin-bottom: 80px;
}
article.sponsorship-package h3 {
  font-size: 2em;
  margin-bottom: 0;
}
article.sponsorship-package h4 {
  margin-top: 0;
}
article.sponsorship-package ul {
  font-size: 1.1em;
}
article.sponsorship-package .price {
  display: block;
  float: right;
}
article.sponsorship-package li.highlight {
  font-weight: bold;
}

/**
 * Buttons
 */
.button {
  font-family: 'Poiret One', Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-size: 100%;
}
@media only screen and (max-width: 600px) {
  .button {
    font-size: 60%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/**
 * Navigation menu
 */
.navigation {
  background: #333;
  border-bottom: .1rem solid #937042;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
.navigation .navigation-link {
  display: inline;
  padding-left: 15px;
}
.navigation a.button {
  display: inline-block;
  margin-left: 15px;
}
.navigation .text-right {
  display: inline-block;
  text-align: right;
  margin-left: 30px;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
  color: #bf9865;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 5.2rem;
  text-decoration: none;
}

.navigation .navigation-title, .navigation .title {
  color: #bf9865;
  font-family: Limelight, "Century Gothic", AppleGothic, sans-serif;
  font-size: 2.60rem;
  letter-spacing: 2px;
  line-height: 5.6rem;
  position: relative;
}
.navigation .navigation-title img {
  padding-top: 8px;
  height: 45px;
}

@media only screen and (max-width: 600px) {
  .navigation .navigation-link, .navigation .navigation-title, .navigation .title {
    font-size: 0.7em;
    padding-right: 4px;
  }
  .navigation .navigation-link {
    padding-left: 4px;
  }
  .navigation-title {
    padding-left: 0;
  }
  .navigation-title img {
    max-width: 100%;
  }
  .navigation a.button {
    margin-left: 3px;
    margin-right: 2px;
  }
  .container {
    padding: 0 2px;
  }
}

/**
 * Flexbox alignment
 */
 .flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.flex-left {
  align-items: flex-start;
}
.flex-right {
  display: flex;
  height: 55px;
  align-items: flex-end;
}

/**
 * Site footer
 */
.footer {
  border-top: 1px solid #ddd;
  background-color: #fefefe;
  font-size: 86%;
  text-align: center;
}
.footer .organizers {
  margin-top: 4em;
}
.footer .past-years {
  margin-bottom: 4em;
}
.footer .past-years p {
  margin-bottom: 0;
}

/**
 * Schedule
 */
.schedule {

}
.schedule h3 {
  border-bottom: 1px solid #333;
}
.schedule .timeslot {
  background: rgba(60, 15, 104, 0.7);
      /* rgba(155, 77, 202, 0.7) */
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.schedule .break-info {
  text-align: center;
}
.column .room {
  background-color: #ddd;
  font-size: 1.1em;
  padding: 10px 16px;
  margin-bottom: 1em;
}
.column .room.room-large {
  background-color: rgba(155, 77, 202, 0.35);
}